

#movie-result {
  background: rgb(163, 130, 59);
  border: 5px solid black;
  font-size: 20px;
  min-width: 75px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#movie-form {
  font-size: 18px;
}


#book-result {
  background: rgb(168, 114, 14);
  border: 5px solid black;
  font-size: 20px;
  min-width: 75px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#book-form {
   font-size: 18px;
}

#q3-result {
  background: rgb(107, 71, 16);
  border: 5px solid black;
  font-size: 20px;;
  min-width: 75px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#q3-form {
   font-size: 18px;
}

#q4-result{
  background: rgb(90, 61, 6);
  border: 5px solid black;
  font-size: 20px;
  min-width: 75px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#q4-form {
   font-size: 18px;
}

#q5-result {
  background: rgb(97, 43, 34);
  border: 5px solid black;
  font-size: 20px;
  min-width: 75px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#q5-form {
   font-size: 18px;
}


body{
  text-align: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8QQ-fK4OxMONqgnOxmha3Rm4KlpSsoXd1lw&s")
}

.words {
  background-color:rgb(216, 179, 128);
  padding: 5px;
  margin: 5px;
  border: 2px solid;
  width:fit-content;
  margin:auto;
}

button {
    background-color:rgb(216, 179, 128);
}

#movie-answer{
  background-color:rgb(221, 173, 84);
}

#book-answer {
  background-color:rgb(221, 173, 84);
}

#q3-answer {
 background-color:rgb(221, 173, 84);
}

#q4-answer {
  background-color:rgb(221, 173, 84);
}

#q5-answer {
  background-color:rgb(221, 173, 84);
}