

#movie-result {
  background: rgb(163, 130, 59);
  border: 5px solid black;
  font-size: 20px;
  min-width: 75px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#movie-form {
  font-size: 18px;
}


#book-result {
  background: rgb(168, 114, 14);
  border: 5px solid black;
  font-size: 20px;
  min-width: 75px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#book-form {
   font-size: 18px;
}

#q3-result {
  background: rgb(107, 71, 16);
  border: 5px solid black;
  font-size: 20px;;
  min-width: 75px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#q3-form {
   font-size: 18px;
}

#q4-result{
  background: rgb(90, 61, 6);
  border: 5px solid black;
  font-size: 20px;
  min-width: 75px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#q4-form {
   font-size: 18px;
}

#q5-result {
  background: rgb(97, 43, 34);
  border: 5px solid black;
  font-size: 20px;
  min-width: 75px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#q5-form {
   font-size: 18px;
}


body{
  text-align: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8QQ-fK4OxMONqgnOxmha3Rm4KlpSsoXd1lw&s")
}

#link {
  margin:10px;
}

.words {
  background-color:rgb(216, 179, 128);
  padding: 5px;
  margin: 5px;
  border: 2px solid;
  width:fit-content;
  margin:auto;
}

button {
    background-color:rgb(216, 179, 128);
}

#movie-answer{
  background-color:rgb(221, 173, 84);
}

#book-answer {
  background-color:rgb(221, 173, 84);
}

#q3-answer {
 background-color:rgb(221, 173, 84);
}

#q4-answer {
  background-color:rgb(221, 173, 84);
}

#q5-answer {
  background-color:rgb(221, 173, 84);
}

img {
  width:300px;
  height:200px;
  border:7px, ridge, rgb(88, 62, 21);
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
 
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
 margin:15px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
